.main-container {
  height: 100vh;
  background: #eee;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.main-container h1 {
  margin: 0;
}
.main-container ul {
  list-style: none;
  padding: 0;
}